* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div>p {
    background-color: lightslategray;
    color: brown;
    font-weight: bold;
    font-size: large;
}

span>p {
    background-color: lightblue;
    color: darkgoldenrod;
    font-size: larger;
}