* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    font-size: large;
}

/* mouse over link */
a:hover {
    color: maroon;
    font-weight: 900;
}

/* selected link */
a:active {
    color: palevioletred;
}