*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#parent{
    display: flex;
    height: 60vh;
    width: 70vw;
    background-color: lightgray;
    margin: 150px;
    margin-left: 200px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 30px 25px;}

#child{
    padding-left: 80px;
}

img{
   height: 350px; 
}

.text{
    font-size: 50px;
    font-weight:bold;
    letter-spacing: 7px;
    line-height: 85px;
    word-spacing: 50px;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(255, 137, 17);
    color: white;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
}

button:hover{
    color: antiquewhite;
    background-color: rgb(250, 181, 76);
}


