* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 650px;
    margin: 35px;
    padding: 20px;
}

#box1 {
    background-color: rgba(255, 140, 0, 0.776);
    height: 325px;
    width: 400px;
    text-align: center;
    padding: 120px;
}

#box2 {
    background-color: rgba(255, 140, 0, 0.776);    height: 100px;
    width: 400px;
    text-align: center;
    padding: 45px;
}

#box3 {
    background-color: rgba(255, 140, 0, 0.776);    height: 295px;
    width: 400px;
    text-align: center;
    padding: 120px;
}

#box4 {
    background-color: rgba(255, 140, 0, 0.776);    height: 295px;
    width: 400px;
    align-self: flex-end;
    text-align: center;
    padding: 120px;
}

#box5 {
    background-color: rgba(255, 140, 0, 0.776);    height: 295px;
    width: 400px;
    align-self: flex-end;
    text-align: center;
    padding: 120px;
    /* flex-grow: ; */
}

#box6 {
    background-color: rgba(255, 140, 0, 0.776);    height: 100px;
    width: 400px;
    padding: 45px   ;
    align-self: flex-end;
    text-align: center;
}

.common{
    font-size: x-large;
    color: aliceblue;
}