* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    background-color: lightgray;
    display: flex;
    height: 699px;
    margin: 15px;
    flex-direction: column;
    padding-top: 4px;
    padding: 5px;
}

#box1{
    background-color: darkgoldenrod;
    height: 230px;
    width: 80px;
    align-self: self-end;
    /* margin-left: auto; */
}

#box2{
    background-color: darkgoldenrod;
    height: 230px;
    width: 750px;
    /* flex-grow: 1; */
}

#box3{
    background-color: darkgoldenrod;
    height: 230px;
    width: 80px;
    margin-left: auto;
    /* align-items: flex-start; */
}

.common{
    text-align: center;
    padding-top: 105px;
    font-weight: bolder;
    font-size: x-large;
    color: aliceblue;
}

